@import '../../../assets/scss/abstract/mixins';
@import '../../../assets/scss/abstract/variables';

.container-not-found {
    width: 100%;
    height: calc(100% - 80px);
    @include orientation(relative);

    &__group {
        text-align: center;

        &__info {
            @include textCustom($font-family-nunito, 32px, $color-blue-bold, false);

            &__text {
                @include textCustom($font-family-lato, 14px, $color-dark-gray, false);
            }
        }
    }
}